{% extends 'AppCoder/padre_inicio.html' %}

{% load static %}


{% block titulo %}

 <!-- Masthead-->
 <header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-RED">
                    <!-- Page heading-->
                    <h1 class="mb-5">¡Encuentra todas las novedades de Blocks Pics y su comunidad internacional, lee articulos, informate y aprende!</h1>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                   
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}


 {% block blocke_1 %}

<h1> Ultimos posts! </h1> <br>
<br>
  <h2>Titulo: {{ultimo_post.titulo}}</h2>
  <br>
  <h3>Descripcion {{ultimo_post.descripcion}}</h3>
  <br>
  <h5> Creado por: 
  {{ultimo_post.autor}}
    Publicado el: 
  {{ultimo_post.fecha_de_creacion}}</h5>
  <br>
  <button>
    <a href= "{% url 'post_detail' ultimo_post.id %}" >Leer Post!</a>
  </button>

  <br><br><br>

  <h1>Usuarios nuevos, mandales un saludo!</h1>

  {{ultimo_usuario.username}}
  {{ultimo_usuario.email}} <br>
  {{ultimo_usuario.last_name}}
  {{ultimo_usuario.first_name}}

  <button>
    <a href= "{% url 'user_profile' ultimo_usuario.id %}" >VerPerfil</a>
  </button>

 {% endblock %}
