{% extends 'AppCoder/padre_3.html' %}


{% block titulo %}

 <!-- Masthead-->
 <header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-red">
                    <!-- Page heading-->
                    <h1 class="mb-5">Aqui tendria que haber contenido relacionado con tus gustos</h1>
                    <h2 class="mb-5">{{user.username}}</h2>
                    <h3 class="mb-5">Pero tienes una actividad nula :c <br> lo sentimos, sigue naveganod y explorando para que esta opcion este disponible</h3>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                   
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}


 {% block blocke_1 %}
 
    

 {% endblock %}
