

{% extends 'AppCoder/padre.html' %}

{% load static %}

 {% block blocke_1 %}

 <h1> HACETE UN PROFE DALE EHHH!!!! </h1>

 <button>
    <a href= "{% url 'profesores/añadir' %}" >Añadite un Profe dale</a>
</button>



 <h1> ACA ESTAN LOS PROFES </h1>


 {% for p in profesores %}
 
    <a href= "{% url 'profesor/detalles' p.id %}" >{{p}}</a>
    <a href= "{% url 'profesor/actualizar' p.id %}" >Editar</a>
    <button>
        <a href= "{% url 'profesor/eliminar' p.id %}" >Eliminar</a>
    </button>
    <br>
 {% endfor %}

 {% endblock %}