

{% extends 'AppCoder/padre_3.html' %}



{% block titulo %}


<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-red">
                    <!-- Page heading-->
                    <h1 class="mb-5">{{user.username}}</h1>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                   
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block blocke_1 %}

<img src="{{avatar_url}}" height="40px"/>
<br>
<h2>Email: {{user.email}}</h2>
{%if user.first_name %}
<h2>Nombre: {{user.first_name}}</h2>
<h2>Apellido: {{user.last_name}}</h2>
{%endif%}

<button>
    <a href= "{% url 'user_edit'  %}" >Editar Perfil</a>
</button>





{% endblock %}

