{% extends 'AppCoder/padre_3.html' %}

{% block titulo %}

 <!-- Masthead-->
 <header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-red">
                    <!-- Page heading-->
                    <h1 class="mb-5">Hola soy Franco Sanchez</h1>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                   
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block blocke_1 %}
<h4>
Blocks Pics®<br>
es una pagina ficticia en la que se comparte informacion, noticias y debates en vivo<br>
</h4>
<h5>
Por ahora soy un  ingresante en la universidad de nacional de <br>
san luis en la carrera de ingenieria informatica y tengo muchas <br>
ganas de seguir aprendiendo y de crear,este mundo lo encontre <br>
durante la pandemia como simple curiosidad y descubri que me<br>
gustaba mucho tanto como para investigar y aprender lo que mas<br>
pude por mi mismo con muchos proyectos en mente y espero poder<br>
hacer muchas cosas que tengo planeadas en mi vida xd <br>
tengo 19 años<br>
<br>
me hubiera gustado poner mas imagenes a lo largo de la pagina pero no<br>
entendi del todo como funcionaba y en internet solo sale como hacer <br>
cosas complejas y no tan basicas como esa<br>
</h5>
<br>
<br>
<h2>contacto: francosanche@gmail.com</h2>


{% endblock %}